
body{
  margin :0;
  padding-right :0;
  font-family: sans-serif;
background-color: black;

}
section:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(#1a999c,transparent);
  z-index: 15;
}
section:after
{
  content: '';
  position: absolute;
  margin-top: 313px;
  top: 0;
  left: 0;
  width: 100%;
  height: 460px;
  background: linear-gradient( 360deg, #000,transparent);
  z-index: 10;
}

nav{
  position: fixed;
  top :0;
  left: 0;
  width: 100%;
  height: 150px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: .5s;
  z-index: 20;
}
nav.logo{
  float: left;
}
nav.logo img{
  height: 35px;
  transition: .5s;
}
nav ul{

  float: right;

  padding: 0;
  display :flex;
}
nav ul li{
  margin-top: -40px;
  list-style:none;
}
nav ul li a{
  line-height:-30px;
  color: #b5b5b5;
  padding: 5px 20px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
}

nav.black ul li a{
color:#fff;
line-height: 60px;
}
nav ul li a.active,
nav ul li a:hover{
  color: #fff;
  background: #1a999c;
  text-decoration: none;
}

section.sec1{
  margin-bottom: 200px;
  margin-top: 0px;
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  z-index: 10;
}

div.centertext{
  margin-bottom: 0px;
  padding-bottom: -300px;
  margin-top: 0%;
  padding-top: 0%;
  width: 100%;
  height: 1000px;
  background-size: cover;
  position: relative;
  z-index: 10;

}
.centertext img{
  height: 800px;

}

.centertext div#intro{
  
   width: 75%;
    margin: 300px auto;
    margin-left: 12%;
  position: absolute;
}
.centertext div#intro h1{

font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 50px;
    color: #fff;
    animation: textanimation 13s ease-in-out;

}
.centertext div#intro h2{

font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 20px;
    color: #fff;
    animation: textanimation2 10s ease-in-out;
    opacity: 70%;

}

nav.black{
  background: rgba(26, 153, 156, .5);
  height: 80px;
  padding: 10px 50px;

}
nav.black .logo img{
  height: 60px;
  position: relative;
}

nav ul li {
  color: #b4b9c2;
}
.form-inline input{
  background-color: transparent;
}
.btn-outline-success{
  width: 10px;
}

nav ul li ul{

  display: none;
}
nav ul li:hover ul{
  margin-top: 30px;
  height: 200px;
  display: block;
  background-color:rgba(0,0,0,.6);

}
nav ul li:hover ul div{
  margin-top: 5px;
  height: px;
  display: block; 

}
nav ul li:hover ul li{
  margin-top: 10px;
  display: block;
}


.responsive-bar{
  display: none;


}
@media(max-width: 768px){
  .responsive-bar{
  display: block;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,.8); 
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px 20px;
  box-sizing: border-box;
  z-index: 22;
}
.responsive-bar .logo img{
  float: left;
  height: 50px;

}
.responsive-bar .menu h4{
  float: right;
  color: #fff;
  margin:0;
  padding: 0;
  line-height: 50px;
  cursor: pointer;
  text-transform: uppercase;

}
nav.black{
  background: #262626;
  height: 60px;
  padding: 0;
}
nav .logo{
  display: block;
}
 nav ul{
  position: absolute;
  margin-top: 0%;
  width: 100%;
  top: 60px;
  left: 0;
  background: #262626;
  float: none;
  display: none;
 }

 nav ul.active{
  display: block;
    z-index: 22;
 }

 nav ul li{
  width: 100%;
  margin-top: 10px;
 }
  nav ul li a{
  display: block;
  padding: 0;
  width: 100%;
  text-align: center;
  line-height: 30px !important;
  color: #fff;
 }
 nav ul li ul{
  display: none;
}
.form-inline{
display: block;
  padding: 0;
  width: 100%;
  text-align: center;
  line-height: 30px !important;
  color: #fff;
}
nav ul li:hover ul{
  margin-top: 30px;
  height: 180px;
  display: block;
  background-color:rgba(0,0,0,.9);
}
nav ul li:hover ul div{
  margin-top: 30px;
  height: 180px;
  display: block; 
}
nav ul li:hover ul li{
  margin-top: 10px;
  display: block;
}
}
.glyphicon{
  position: relative;
  font-size: 42px;
  color: #27475e;
}


i.glyphicon.glyphicon-search{
  font-size: 20px;
  color: rgb(184,182,182);
}





#tentangkami{
  text-align: center;
  margin-top: -250px;

}

#tentangkami .container h1{
  margin:36px;
}
#tentangkami h3,
#tentangkami p,
#tentangkami i,
#tentangkami li,
#tentangkami h1{
  color: white;
}

#tentangkami .container .row{
  margin:-3px;
}

#tentangkami .isi .container.atas{
  background-color:black;
  margin-top:10%;
  padding-bottom:37px;
  border-left: 25px solid #1a999c;
}

.glyphicon{
  position: relative;
  font-size: 42px;
  color: #27475e;
}



#event{
  margin-top: 31px;
  background-color: #f9f8f8;
  padding-top: 43px;
  padding-bottom: 25px;
}

#gallery .container h1{
  text-align: center;
  font-family: raleway;
  margin-bottom: 38px;
}

#gallery .container .row #dua.col-lg-6.col-md-6.col-sm-6.col-xs-6{
  padding-top:31px;
}

#informasi{
  background-color: #102128;
  margin-top: 79px;
  color: white;
}

#informasi .container{
  width: 100%;
  padding: 55px;
}

.container.footer .col-lg-6.col-md-6.col-sm-12.col-xs-12{
  font-family:petitamedium;
  color:#eee;
}

.input-group.input-group-lg{
  margin-top:23px;
}

#icon{
  color:white;
  font-size:37px;
  margin-top:20px;
  position:static;
}

#icon i.fa.fa-facebook-official{
  margin-left:17px;
}

#icon i.fa.fa-twitter-square{
  margin-left:17px;
}

#icon i.fa.fa-youtube-play{
  margin-left:17px;
}

#kaki{
  color: rgb(40,78,94);
  background-color: #0f1517;
}
.carousel-item{
  height: auto;
}
.carousel-item img{
  margin-top: 10px;
  margin-bottom: -8%;
  height: auto;
}
.pendahuluan {
  margin-bottom: 20%;
  font-family: 'Baloo 2', cursive;
}
#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: .5s;
}
#nav.black{
  background:rgba(118, 119, 122,.8);
  height: 60px;
}

.home {
  color: white;
}
#dropdownMenuLink{
  margin-top: -22px;
  padding: 6px 12px;
  margin-right: 35px;
  margin-left: 35px;
}

.btn-transparent{
  color: #b8b6b6;
}
.misi {
  text-align: left;
  float: left;
}

#visi{
  font-size: 50px;
  margin-bottom: -15px;
  margin-top: -5px;
}
#misi{
  font-size: 50px;
  margin-bottom: -15px;
  margin-top: -5px;
}
#kegiatan{
  font-size: 50px;
  margin-bottom: -15px;
  margin-top: -5px;
}
#containerbawah{
  margin-bottom: 20%;
  margin-top: -15%;
  
}
div #tentangitarsi{
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.img-circle{

  width: 50%;
  height: auto;
  margin-left: 50%;
}




#containerlogo{
  margin-top: -175px;
  margin-bottom: 300px;
}
#filosofilogo{
  text-align: center;
  width: 40%;
  margin-left: 45%;

}
#logoitarsi{
  width: 250%;
  float: left;
  margin-left: -60%;
}
#filosofilogoitarsi{
  margin-left: 20%;
}
#gambaritarsi{
  margin-left: 20%;
  margin-top: 20px;
  margin-bottom: 60px;
}
.fa-instagram{
  color:white;
}
.fa-instagram:hover{
 color:#d5d9db;
}
.fa-instagram:active{
 color:black;
}
.fa-camera{
  font-size: 500%;
 margin-left:50%;
   margin-right: 50%;
   margin-top: 6%;
   margin-bottom: 3%;
}
.fa-youtube-play{
color:white;
}
.fa-youtube-play:hover{
color:#d5d9db;
}
.fa-youtube-play:active{
color:black;
}
.fa-map-marked-alt{
  font-size: 500%;
 margin-left:50%;
   margin-right: 50%;
   margin-top: 3%;
   margin-bottom: 3%;
 }

.containerpeta{
  margin-top: 6%;
  padding-bottom: 8%;
  margin-bottom: -8%;
}
.fa-phone-alt{
  font-size: 500%;
 margin-left:50%;
   margin-right: 50%;
   margin-top: 3%;
   margin-bottom: 3%;
}
.fa-sitemap{
  font-size: 500%;
 margin-left:50%;
   margin-right: 50%;
   margin-top: 3%;
   margin-bottom: 6%;
 }
.tombolkontak{
  width: 100%;

}
#tombolkontak{
  margin-top: 5%;
}
#telf{
  font-size: 30px;
  text-decoration: none;
  color: white;

} 
.telf{
  font-size: 30px;
  text-decoration: none;
} 
#tentangitarsi{
  margin-top: -9%;
  margin-bottom: 20%;
  margin-right: 10%;
  margin-left: 10%;
}
#gambaritarsi{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 30%;
  margin-right: 30%;
}

#filosofi{
  height: 60%;
  width: 60%;
}
#judultentangitarsi{
  text-align: center;
}
section.sec1{
  margin-bottom: 200px;
  margin-top: 0px;
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  z-index: 10;
}

div.centertext{
  margin-bottom: 0px;
  padding-bottom: -300px;
  margin-top: 0%;
  padding-top: 0%;
  width: 100%;
  height: 1000px;
  background-size: cover;
  position: relative;
  z-index: 10;

}
.centertext img{
  height: 800px;

}

.centertext div#intro{
  
   width: 75%;
    margin: 300px auto;
    margin-left: 12%;
  position: absolute;
}
.centertext div#intro h1{

font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 50px;
    color: #fff;
    animation: textanimation 13s ease-in-out;

}
.centertext div#intro h2{

font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 20px;
    color: #fff;
    animation: textanimation2 10s ease-in-out;
    opacity: 70%;

}
@keyframes textanimation {
    0% {
        letter-spacing: 25px;
    }
    100% {
        letter-spacing: 10px;
    }
}

#intro p button {
  z-index: 25;
}
.btn{
  position: relative;
  display: block;
  color: white;
  font-size: 14px;
  font-family: ;
  text-decoration: none;
  margin: 30px 0;
  border: 2px solid #1a999c;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
  z-index: 25;

}
.btn::before{
  background: #1a999c;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}
.btn::before{
  width:0;
  height: 100%;
}
.btn:hover::before{
width: 100%;
color: white;
}
.middle{
  position: absolute;
  margin-top: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


@import url("https://fonts.googleapis.com/css?family=Saira+Semi+Condensed");
body {
  background: #39393B;
  font-family: "Saira Semi Condensed", sans-serif;
}

.main-container {
  width: 70%;
  position: absolute;
 margin-top: -190px;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.first-container, .second-container {
  cursor: pointer;
  position: relative;
}
.first-container h1, .second-container h1 {
  position: relative;
  letter-spacing: 40px;
}

.first-container {
  margin-bottom: 15px;
}

span {
  display: inline-block;
  position: relative;
  margin-right: 5px;
}
span:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  transition: 0.6s;
  z-index: -5;
}

.share:hover > h1 > span:nth-child(1):after {
  background: #1a999c;
  width: 100%;
  transition: 0.6s;
  transition-delay: 100ms;
  transform: rotate(-25deg);
}

.share:hover > h1 > span:nth-child(1) {
  color: #39393B;
  transition-delay: 110ms;
}

.share:hover > h1 > span:nth-child(2):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 200ms;
  transform: rotate(-20deg);
}

.share:hover > h1 > span:nth-child(2) {
  color: #39393B;
  transition-delay: 220ms;
}

.share:hover > h1 > span:nth-child(3):after {
  background: #1a999c;
  width: 100%;
  transition: 0.6s;
  transition-delay: 300ms;
  transform: rotate(-15deg);
}

.share:hover > h1 > span:nth-child(3) {
  color: #39393B;
  transition-delay: 330ms;
}

.share:hover > h1 > span:nth-child(4):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 400ms;
  transform: rotate(-10deg);
}

.share:hover > h1 > span:nth-child(4) {
  color: #39393B;
  transition-delay: 440ms;
}

.share:hover > h1 > span:nth-child(5):after {
  background:#1a999c;
  width: 100%;
  transition: 0.6s;
  transition-delay: 500ms;
  transform: rotate(-5deg);
}

.share:hover > h1 > span:nth-child(5) {
  color: #39393B;
  transition-delay: 550ms;
}

.share:hover > h1 > span:nth-child(6):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 600ms;
  transform: rotate(0deg);
}

.share:hover > h1 > span:nth-child(6) {
  color: #39393B;
  transition-delay: 660ms;
}

.share:hover > h1 > span:nth-child(7):after {
  background: #1a999c;
  width: 100%;
  transition: 0.6s;
  transition-delay: 700ms;
  transform: rotate(5deg);
}

.share:hover > h1 > span:nth-child(7) {
  color: #39393B;
  transition-delay: 770ms;
}

.share:hover > h1 > span:nth-child(8):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 800ms;
  transform: rotate(10deg);
}

.share:hover > h1 > span:nth-child(8) {
  color: #39393B;
  transition-delay: 880ms;
}

.share:hover > h1 > span:nth-child(9):after {
  background: #1a999c;
  width: 100%;
  transition: 0.6s;
  transition-delay: 900ms;
  transform: rotate(15deg);
}

.share:hover > h1 > span:nth-child(9) {
  color: #39393B;
  transition-delay: 990ms;
}

.share:hover > h1 > span:nth-child(10):after {
  background: white;
  width: 100%;
  transition: 0.6s;
  transition-delay: 1000ms;
  transform: rotate(20deg);
}

.share:hover > h1 > span:nth-child(10) {
  color: #39393B;
  transition-delay: 1100ms;
}

#itarsi{
  color: white;
  font-size: 20px;
  margin-top: 0px;
}
.carousel-control-prev,
.carousel-control-next{
  margin-top: -300px;
}
.btn1{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #f1f1f1;
  margin: 5px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}
.btn1 i{
  color: #1a999c;
  line-height: 40px;
  font-size: 20px;
  transition: 0.2s linear;
    margin-left: 25%;
}
.btn1:hover i{
  transform: scale(1.3);
  color: #f1f1f1;

}
.btn1::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #1a999c;
  transform: rotate(45deg);
  left: -100%;
  top: 90%;
}
.btn1:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}
.btn{
  position: relative;
  color: white;
  font-size: 14px;
  font-family: ;
  text-decoration: none;
  margin: 0px 0;
  border: 2px solid #1a999c;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
  z-index: 0;

}
.btn::before{
  background: #1a999c;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}
.btn::before{
  width:0;
  height: 100%;
}
.btn:hover::before{
width: 100%;
color: white;
}
.middle{
  position: absolute;
  margin-top: 25%;
  left: 28%;
  transform: translate(-50%,-50%);
}
.modal1{
color: #e35656;
font-weight: bolder;
}
.modal2{
color:#1d91bf;
}